@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
}

#root>header {
    border-bottom: 1px solid #ccc;
    padding: 1em 1em;
    color: #2a81d3;
}

section.new-note {
    width: 30vw;
    margin: 1em auto;
    padding-bottom: 1.2em;
    color: #2a81d3;
    border: 1px solid #ccc;
    border-radius: 25px;
}

section.new-note h1 {
    padding: .5em 1em;
}

section.new-note>form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

section.new-note>form>:where(input, textarea, button) {
    font-size: larger;
    border: 1px solid #ccc;
    padding: 0 1em;
    margin: 0 1em;
}

.character-count {
    padding-right: 1em;
}

.character-count p {
    text-align: right;
}

.search-notes {
    width: 70vw;
    margin: 0 auto;
}

.search-notes input {
    font-size: x-large;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 3em;
    padding: 1em;
}

.notes {
    width: 70vw;
    margin: 2em auto 0;
}

.active-notes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: .3em;
}

.active-notes article {
    flex-basis: 25%;
    padding: .5em;
    font-size: small;
}

.note-item-container {
    padding: .5em;
    border: 1px solid #ccc;
    height: 90%;
}

.note-item-actions {
    display: flex;
}

.note-item-actions button {
    flex-basis: 50%;
}

.date {
    font-size: smaller;
    padding: .75em 0;
}
