@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
}

#root>header {
    border-bottom: 1px solid #ccc;
    padding: 1em 1em;
    color: #2a81d3;
}

section.new-note {
    width: 30vw;
    margin: 1em auto;
    padding-bottom: 1.2em;
    color: #2a81d3;
    border: 1px solid #ccc;
    border-radius: 25px;
}

section.new-note h1 {
    padding: .5em 1em;
}

section.new-note>form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

section.new-note>form>:where(input, textarea, button) {
    font-size: larger;
    border: 1px solid #ccc;
    padding: 0 1em;
    margin: 0 1em;
}

.main-menu {
    width: 70vw;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.main-menu ul {
    display: flex;
    list-style: none;
    padding: 0 1em;
    font-size: 1.5em;
}

.main-menu ul li {
    border: 1px solid #ccc;
    padding: 0 1em;
}

.main-menu ul li a {
    text-decoration: none;
    color: inherit;
}
